
<%- include('./partials/header')  %>
<%- include('./partials/nav') %>

<form action="/register" method="post">
    <input type="text" placeholder="billu" name="email">
    <input type="text" placeholder="pw " name="pw">
    <button type="submit">Register</button>
</form>


<%-include('./partials/footer')  %>